{{#link-to destination class="iconav-brand" title=title data-toggle="tooltip" data-placement="right" data-container="body"}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <span class="{{icon}} iconav-brand-icon"></span>
  {{/if}}
{{/link-to}}
