<a class="nav-link" title={{title}} data-toggle="tooltip" data-placement="right" data-container="body">
  <i class="{{this.icon}}" aria-hidden="true"></i>
  <small class="iconav-nav-label hidden-md-up">{{label}}</small>
</a>
