{{#link-to destination class="nav-link" title=title data-toggle="tooltip" data-placement="right" data-container="body"}}
  <span class="{{icon}}"></span>
  <small class="iconav-nav-label hidden-md-up">{{label}}</small>
{{/link-to}}
